div {
  height: 40px;
  align-self: center;
  display: flex;
  align-items: center;
}

.right {
  margin-right: 5px;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}
